{% extends "base.html" %}

{% block app_content %}
    <h1 class="page-header">{{ title }}</h1>
    <div>Lijst is gegenereerd door script op {{ date }} om {{ time }}</div>
    <div>Er kunnen samples in de lijst staan die al opnieuw zijn opgepakt, maar alleen indien de laatste gestarte stap op dezelfde dag gestart is als de verwijdering heeft plaats gevonden.</div>
    <div>
        <table class="table table-fixed table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>{{ header.head1 }}</th>
                    <th>{{ header.head2 }}</th>
                    <th>{{ header.head3 }}</th>
                    <th>{{ header.head4 }}</th>
                    <th>{{ header.head5 }}</th>
                    <th>{{ header.head6 }}</th>
                    <th>{{ header.head7 }}</th>
                    <th>{{ header.head8 }}</th>
                </tr>
            </thead>
            <tbody>
                {% for s in samples %}
                <tr>
                    <td>{{ s.col1 }}</td>
                    <td>{{ s.col2 }}</td>
                    <td>{{ s.col3 }}</td>
                    <td>{{ s.col4 }}</td>
                    <td>{{ s.col5 }}</td>
                    <td>{{ s.col6 }}</td>
                    <td>{{ s.col7 }}</td>
                    <td>{{ s.col8 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
