{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_file_field %}
{% block app_content %}
<h1 class="page-header">{{ title }}</h1>

<form method="POST" action="{{ url_for('submit_samples')}}" class="form-horizontal" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.indicationcode) }}
    {{ render_field(form.pool_fragment_length) }}
    {{ render_field(form.pool_concentration) }}
    {{ render_field(form.samples, rows="6", placeholder="Sample \t Barcode \t Exoom equivalenten \t Sample type") }}
    {{ render_file_field(form.attachment) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="jumbotron">
    Controleer voor het submitten de ingevoerde gegevens.<br>
    Afdeling Genetica, DNA lab kan niet verantwoordelijk gehouden worden voor de invoer van incorrecte samplegegevens en de gevolgen hiervan. Eventuele extra kosten van verkeerd ingevoerde gegevens zullen worden doorbelast.<br>
    Neem bij problemen contact op met de Clarity Administrators via <a href="mailto:dlabclarity@umcutrecht.nl">dlabclarity@umcutrecht.nl</a>.
</div>

{% endblock %}
