{% extends "base.html" %}
{% block app_content %}
<h1 class="page-header">{{ title }}<br><small>Samples zijn succesvol gesubmit naar clarity lims.</small></h1>

<dl class="dl-horizontal">
    <dt>Gebruikersnaam</dt> <dd>{{form.username.data}}</dd>
    <dt>Pool - Fragment lengte</dt> <dd>{{form.pool_fragment_length.data}}</dd>
    <dt>Pool - Concentratie</dt> <dd>{{form.pool_concentration.data}}</dd>
    <dt>Pool - Exoom equivalenten</dt> <dd>{{form.sum_exome_count}}</dd>
</dl>

<h4>Samples</h4>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th class="col-md-1">Sample naam</th>
            <th class="col-md-1">Barcode</th>
            <th class="col-md-1">Exoom equivalenten</th>
            <th class="col-md-1">Sample type</th>
            <th class="col-md-1">Project naam</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in form.parsed_samples.values() %}
        <tr>
            <td class="col-md-1">{{ sample['name'] }}</td>
            <td class="col-md-1">{{ sample['barcode'] }}</td>
            <td class="col-md-1">{{ sample['exome_count'] }}</td>
            <td class="col-md-1">{{ sample['type'] }}</td>
            <td class="col-md-1">{{ sample['project'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
